* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


body {
   
    font-family: 'Raleway', sans-serif;
}

.top-info {
    background-color: #131A1D;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px
}

.top-info i {
    margin-right: 5px;
    margin-left: 5px;
    color: #01AEF0
}

.top-info span {
    color: khaki;
}

.our-services .service a:hover{
        text-decoration: none
}
.our-services .service a:hover h3{
    color: hotpink;

}
/*Start Navbar */
/*

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.fixed .navbar-default .navbar-nav > .active > a,
.fixed .navbar-default .navbar-nav > .active > a:hover,
.fixed .navbar-default .navbar-nav > .active > a:focus {
    color: #E44424;
    border-bottom: 2px solid #0c81f6;
    background-color: #FFF
}
*/










/* End Navbar */


/* Start Css Of Navbar Section */

.navbar-default {
    background-color: #FFFFFF;
    border-color: #F0FFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #425E92;
    width: 95%;
    margin: 0 auto;
    z-index: 100;
    font-size: 18px;
}

.navbar-default .navbar-brand {
    margin: auto;
    padding: 28px 35px;
    position: relative;
    bottom: 46px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0
}

.navbar-default .navbar-nav > li > a {
    font-weight: 700;
    transition: 0.8s;
    border-bottom: 2px solid transparent;
    color: black;
}

.navbar-default .navbar-nav > li:hover > a {
    border-bottom: 2px solid #0c81f6;
    color: #01AEF0;
    background: #FFF;
    
}

/*
.navbar-nav {
    overflow: hidden
}
*/

.fixed {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0px;
/*    overflow: hidden;*/
    z-index: 9999;
    display: none;
    color: #FFF:
}

.fixed .navbar-default {
    background: #FFF;
    border-bottom: 2px solid #01AEF0;
    width: 100%;
}

.fixed .navbar-default .navbar-nav > li > a {
    color: black;
}

.fixed .navbar-default .navbar-nav > li:hover > a {
    color: #01AEF0;
}





.navbar-nav > li > .dropdown-menu{
    background-color: white;
    color: #D0D0D0;
    min-width: 250px;
    text-align: right;
}

.navbar-toggle{
    margin-top: 20px;
}

.navbar-right .dropdown-menu{
    left: 0;
    right: auto;
}

.navbar-nav > li >.dropdown-menu > li > a{
    color: darkgrey;
    padding: 8px 20px;
    -webkit-transition:padding 0.85s ease;
    -moz-transition:padding 0.85s ease;
    -o-transition:padding 0.85s ease;
    transition:padding 0.85s ease;
}

.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus{
    color: cadetblue;
    padding-right: 35px;
    border-bottom: 2px solid #0c81f6;
    color: #01AEF0;
}





/* End Css of Navbar Section  */


/* Start Css of Slider Section  */

.carousel1 {
    position: relative;
    bottom: 95px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 600px;
    width: 100%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    -webkit-filter: none;
    filter: none;
    background-repeat: no-repeat;
}

.carousel-control.right {
    right: 0;
    left: auto;
}

.carousel-caption {
    margin: 12% auto;
    color: #FFF;
}

.carousel-caption h1 {
    padding-bottom: 15px;
    font-weight: bolder
}

.carousel-caption .btn {
    background: cadetblue;
    border-radius: 10%
/*    background-color: cadetblue*/
    border-radius: 1px;
    padding: 15px 20px;
    color: #fff;
    font-weight: bold;
    transition: 0.8s ease;
}

.carousel-caption .btn:hover {
    background: #01AEF0;
    color: #fff;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: 1;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    border: 3px solid #FFF;
    border-radius: 50%;
    font-size: 15px;
    padding: 5px;
}

.carousel-control .glyphicon-chevron-left:hover,
.carousel-control .glyphicon-chevron-right:hover {
    background-color: #fff
}


/* End Css of The Slider Section */


/* Start Css of The Services Section */

.serv {
    padding-top: 10px;
    padding-bottom: 10px;
}

.serv .item {
    margin-bottom: 10px
}

.serv .item img {
    width: 100%;
    padding: 100px;
}

/*
.serv .item h4 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px
}
*/

.serv .item .lead {
/*    font-weight: 300*/
/*
        font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,serif;
font-weight: 400;
line-height: 1.5;
text-align: right;
box-sizing: border-box;
margin: 0 0 1em 0;
direction: inherit;
color: #757575;
*/
/*font-size: 16px;*/
}




/*
strong {
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,serif;
line-height: 1.5;
text-align: right;
direction: inherit;
color: #757575;
font-size: 16px;
box-sizing: border-box;
font-weight: bolder;
}
*/

/*
.serv .item .btn,
.check form .btn{
    padding: 10px 20px;
    border-radius: 1px;
    background-color: #E44424;
    color: #FFF;
    font-weight: 800;
    transition: .9s ease-in-out
}

.serv .item .btn:hover,
.check form .btn:hover {
    background-color: #465A65;
    color: #FFF;
}

.clr1 {
    background-color: #01AEF0
}

.clr2 {
    background-color: #465A65
}

.clr3 {
    background-color: #A8CD1B
}
*/





/* End Css of The Services Section */


/* Start Css of Checkout Section */
/*
.check {
    background-image: url('../imgs/81842-OGHGR2-907.jpg');
    min-height: 450px;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.check h2 {
    padding-bottom: 35px;
    color: #FFF;
}

.check form input {
    padding: 15px 10px;
    width: 80%;
    margin-bottom: 50px;
    border: 2px solid #A8CD1B;
    transition: 0.9s ease-in-out;
    font-size: 18px;
    font-weight: 300px
}

.check form input:hover {
    border: 2px solid #01AEF0
}

.check form .btn {
    padding: 20px 30px;
}
*/

/* Start Css of Checkout Section */



.forseo {
    background-color: #F1F1F1;
    padding-bottom: 70px;
    padding-top: 5px;
}

.forseo .text h3 {
    color: black;
    font-weight: 700;
    font-size: 35px;
    text-align: center
}

.seo-about h3 {
    margin-top: 10%
}

.forseo .text .add {
    color: #01AEF0;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center
}

.forseo .text .lead {
    font-size: 18px;
    line-height: 1.7
}

.forseo .text h5 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px
}

.forseo .text h5 i {
    margin-right: 5px;
    border-radius: 50%;
    background-color: #01AEF0;
    color: #FFF;
    padding: 3px
}

.forseo .text .btn {
    border-radius: 1px;
    padding: 15px 25px;
    border: 1px solid ;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background: #FFF;
    transition: 0.8s ease;
    border-radius: 5%;
}

.forseo .text .btn:hover {
    background: #01D42F;
    color: #FFF;
}

/***************/

.testimonials {
    padding-top: 70px;
    padding-bottom: 70px;
    background: url('../imgs/14339-NPQ1I1%20-%20Copy%20-%20Copy.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    min-height: 450px;
    background-repeat: no-repeat;
    color: #F1F1F1;
}

.testimonials .slider > div {
    display: none
}

.testimonials .slider .active {
    display: block
}

.testimonials h1 {
    padding-bottom: 30px;
}

.testimonials .lead {
    line-height: 2;
    padding-bottom: 25px;
}

.testimonials h4 {
    font-weight: bold
}

.clearfix {
    clear: both
}








/* Start Css Settings of Statistics Section */
.stat{
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;       
    color: LIGHTGOLDENRODYELLOW;
 
    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: relative;
}

.bg1{
/*     background: url('../imgs/14339-NPQ1I1%20-%20Copy%20-%20Copy.jpg');*/
    background-color: white;
}

.stat h1{
    padding-bottom: 50px;
    color: white;
    font-weight: bold;
}

.stat .data{
/*    background-color: rgba(0, 0, 0, 0.6);*/
    min-height: 400px;
    padding-top: 60px;
    padding-bottom: 70px;
    color: black
}

.stat .data .stat1{
    padding-bottom: 30px;
    padding-top: 30px;
}

.stat .data .stat1:hover{
    cursor: pointer;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
    color: aqua
}

.stat .data .stat1 .lead{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0
}

.stat .data .stat1 span{
    font-size: 18px;
}

/* End Css Settings of Statistics Section */







/*Start released-project */

.released-project {
    background: #f0f1f2;
}

.released-project-thumb {
    position: relative;
    overflow: hidden;
}

.released-project-thumb img {
    width: 100%;
}

.overlay-effect.released-thumb-overlay {
    opacity: 0;
    background: rgba(84, 136, 249, .7);
    transform: scale(0);
}

.released-project-element:hover .overlay-effect {
    transform: scale(1.04);
    opacity: 1;
}

.released-project-element:hover .section-overlay.released-thumb-overlay {
    transform: scale(1.04);
}

.released-project-element:hover .plus-minus-stick {
    opacity: 1;
    transform: scale(1.09);
}

.released-project-content {
    text-align: center;
    overflow: hidden;
    background: #fff;
    padding: 27px 17px;
    transition: all .40s ease-in-out;
}

.released-project-content h5 {
    font-weight: 500;
    transition: all .40s ease-in-out;
    margin: 0;
    line-height: 24px;
    margin-bottom: 5px;
}

.released-project-content p {
    color: #787d85;
    transition: all .40s ease-in-out;
    margin-bottom: 0;
}

.released-project-element:hover .released-project-content {
    background: #353747;
}

.released-project-element:hover .released-project-content h5 {
    color: #fff;
}

.released-project-element:hover .released-project-content p {
    color: #fff;
}

.released-project-container {
    position: relative;
    overflow: hidden;
}

.swiper-button-next-custom {
    font-size: 30px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    font-weight: bold;
    padding-right: 6px;
}

.swiper-button-next-custom {
    position: absolute;
    top: 35%;
    left: 1%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
}

.swiper-button-prev-custom {
    font-size: 30px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    font-weight: bold;
    padding-left: 6px;
}

.swiper-button-prev-custom {
    position: absolute;
    top: 35%;
    right: 1%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
}



















/* Start Css of Footer Section */
/*
.footer{
    background: rgb(49,52,85);
    color: rgba(240,248,255,0.5);
    padding-bottom: 25px;
    padding-top: 30px
}
.footer a{
    color: aliceblue;
    text-decoration: none
}
.footer a:hover{
    color: ORANGERED
}
*/
/* End Css of Footer Section */




/*Start Footer */

.footer-section {
    background: #263238;
    padding: 8px 0 ;
    margin-bottom: -30px;
}

.footer-element {
    overflow: hidden;
    
    background-color: red;
}

.footer-info {
    float: left;
    display: inline-block;
    padding: 5px 0;
    transition: all .40s ease-in-out;
        margin-top: 20px

}

.footer-info p {
    margin: 0;
    font-size: 15px;
    color: #fff;
}

.footer-info:hover a {
    color: aqua;
}

.footer-icon {
    float: right;
    display: inline-block;
}

.social-icon li a {
    width: 60px;
    height: 60px;
    line-height: 63px;
    text-align: center;
    background: dodgerblue;
    border-radius: 100%;
    color: white;
    font-size: 25px;
    z-index: 1;
    position: relative;
    transition: all .40s ease-in-out;
}

.social-icon li {
    display: inline-block;
    margin-left: 6px;
}

.social-icon li a:hover {
    color: #fff;
}

.social-icon li a:after {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    width: 108%;
    height: 108%;
    border-radius: 100%;
    background: aqua;
    z-index: -1;
    -webkit-transform: rotate3d(2, 2, 0, 90deg);
    -moz-transform: rotate3d(2, 2, 0, 90deg);
    -ms-transform: rotate3d(2, 2, 0, 90deg);
    -o-transform: rotate3d(2, 2, 0, 90deg);
    transform: rotate3d(2, 2, 0, 90deg);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border: 0px solid;
}

.social-icon li a:hover:after {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}

/*
.banner.style-two .banner-overlay {
    background: rgba(0, 0, 0, .86);
    height: 100%;
}
.our-service .banner-overlay {
    background: rgba(0, 0, 0, .86);
}
.testimonial.style-two .banner-overlay {
    background: rgba(0, 0, 0, .75);
}
.banner-overlay {
    background: rgba(0, 0, 0, .4);
}
*/




/* End Css of Footer Section */



.social-iconss li a {
    width: 70px;
    height: 70px;
    line-height: 73px;
    text-align: center;
    background: dodgerblue;
    border-radius: 100%;
    color: white;
    font-size: 25px;
    z-index: 1;
    position: relative;
    transition: all .40s ease-in-out;
}

.social-iconss li {
    display: block;
    margin-left: 6px;
    margin-bottom: 10px
}

.social-iconss li a:hover {
    color: #fff;
}

.social-iconss li a:after {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    width: 108%;
    height: 108%;
    border-radius: 100%;
    background: aqua;
    z-index: -1;
    -webkit-transform: rotate3d(2, 2, 0, 90deg);
    -moz-transform: rotate3d(2, 2, 0, 90deg);
    -ms-transform: rotate3d(2, 2, 0, 90deg);
    -o-transform: rotate3d(2, 2, 0, 90deg);
    transform: rotate3d(2, 2, 0, 90deg);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border: 0px solid;
}

.social-iconss li a:hover:after {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}











.social-iconssx li a {
    width: 150px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: dodgerblue;
    border-radius: 25%;
    color: white;
    font-size: 55px;
    z-index: 1;
    position: relative;
    transition: all .40s ease-in-out;
}

.social-iconssx li {
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 10px
}

.social-iconssx li a:hover {
    color: #fff;
}

.social-iconssx li a:after {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    width: 108%;
    height: 108%;
    border-radius: 25%;
    background: darkred;
    z-index: -1;
    -webkit-transform: rotate3d(2, 2, 0, 90deg);
    -moz-transform: rotate3d(2, 2, 0, 90deg);
    -ms-transform: rotate3d(2, 2, 0, 90deg);
    -o-transform: rotate3d(2, 2, 0, 90deg);
    transform: rotate3d(2, 2, 0, 90deg);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border: 0px solid;
}

.social-iconssx li a:hover:after {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}







 .btnn {
    border-radius: 1px;
    padding: 15px 25px;
    border: 1px  ;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #11ADFE;
    transition: 0.8s ease;
    border-radius: 5%;
}

.btnn:hover {
        background: #0B699C;

    color: #FFF;
}





















/* Start Css Settings of Works Section */
.works{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}
.works .port{
    padding-bottom: 25px;
}
.works .grid figure {
    margin: 0;
    position: relative;
}
.works .port figure{
/*    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.2);*/
}
.works .grid figure img {
    width: 100%;
    display: block;
    position: relative;
    border: none ;
}
.works .grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
}
.works .grid figcaption h5 {
    margin: -140px 0 0px 0;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 1px  white;
    padding: 15px 0;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 20px
}
.works .mask figure {
    overflow: hidden;
}
.works .mask figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}
.works .mask figure:hover img{
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
}
.works .mask figcaption {
    height: 50px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.works .mask figure:hover figcaption {
    opacity: 2;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
/* End Css Settings of Portfolio Section */










/**************/

/********************************/

.plan {
    padding-top: 70px;
    padding-bottom: 70px;
}

.plan .pln {
    padding-top: 50px;
    padding-bottom: 75px;
    margin-bottom: 15px;
    color: #FFF;
    transition: 0.8s ease-in-out
}

.plan .pln:hover {
    background-color: #A8CD1B;
    color: #000
}

.c1 {
    background-color: #26C6DA;
}

.c2 {
    background-color: #EF5350
}

.c3 {
    background-color: #4AD5C0
}

.plan .pln .btn {
    padding: 15px 25px;
    background: #FFF;
    color: #000;
    border-radius: 1px;
    margin-top: 25px;
    font-weight: bold
}

.plan .pln h3 {
    letter-spacing: 5px
}

.plan .pln h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.plan .pln h2,
.plan .pln h3 {
    font-weight: bold;
}

.plan .pln h4 {
    margin-bottom: 15px;
}


/********************/

.promote {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #0c81f6;
    color: #FFF;
    overflow: hidden
}
.promote h1{
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: bold
}
.promote a:hover{
    text-decoration: none;
    
}
.promote a img{
    padding: 5px;
    border: 2px solid #263238;
    background: #fff;
    
}
.promote a h4{
    padding-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 22px
}
.promote a h4:hover{color: #000}
/*********************/

.contacts {
    padding-top: 70px;
    padding-bottom: 10px;
    background: #263238;
    color: #FFF
}

.contacts h1 {
    margin-bottom: 25px
}

.contacts h4 a {
    color: #FFF;
}

.contacts h4 {
    margin-bottom: 20px;
    font-weight: normal
}

.contacts form input,
.contacts form textarea {
    background: #303E45;
    border: 0;
    margin-bottom: 20px;
    padding: 15px 5px;
    width: 100%;
}

.fullnav {
    width: 100%;
}

footer {
    padding-bottom: 30px;
    padding-top: 30px;
    background: #212B30;
    color: #FFF;
    font-weight: bold
}


/***************/

.banner {
    padding-bottom: 70px;
    padding-top: 70px;
    min-height: 400px;
    background: url('../imgs/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center
}

.banner h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 40px;
}

.banner .breadcrumb {
    background: transparent;
    font-size: 18px;
}

.banner h1 {
    margin-top: 7%
}

.banner .breadcrumb li a {
    color: #FFF;
}

.banner .breadcrumb li a:hover {
    text-decoration: none;
    color: #E44424
}

.banner .breadcrumb li.active {
    color: #4AD5C0
}


/***********************/

.our-services .service,
.why-our-services .service {
    margin-bottom: 25px;
}

.our-services .service img,
.why-our-services .service img {
    width: 65%;
    padding: 20px;
    border: 2px solid #4AD5C0;
    border-radius: 50%;
    transition: 0.8s ease
}

.our-services .service img:hover,
.why-our-services .service img:hover {
    transform: rotateZ(360deg)
}

.our-services .service h3,
.why-our-services .service h3 {
    color: #000;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.our-services .service p,
.why-our-services .service p {
    line-height: 1.7
}

.why-our-services {
    background: #0B3A40;
    color: #FFF;
}
.why-our-services .service h3,.why-our-services  h1{
    color: #FFF;
}

/***************************/

.seo-serv .text {
    margin-top: 20%
}

.seo-serv img {
    width: 80%;
    float: right;
    margin: 0 auto
}

.seo-serv .text h3 {
    margin-bottom: 20px;
}

.seo-serv .text .btn {
    background: #01AEF0;
    color: #FFF;
    transition: 0.8s ease;
}

.seo-serv .text .btn:hover {
    background: #E44424;
    color: #FFF
}


